{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "max-len": ["error", { "code": 100 }],
    "global-require": ["off"],
    "prefer-promise-reject-errors": ["off"],
    "react/prop-types": ["off"],
    "react/jsx-filename-extension": ["off"],
    "no-return-assign": ["off"],
    "no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_"
      }
    ],
    "react/jsx-props-no-spreading": [
      "error",
      {
        "exceptions": [
          "CustomText",
          "CustomInput",
          "CustomButton",
          "WrappedComponent",
          "CustomIcon"
        ]
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["components", "./src/components"],
          ["layouts", "./src/layouts"],
          ["navigation", "./src/navigation"],
          ["services", "./src/services"],
          ["screens", "./src/screens"],
          ["views", "./src/views"],
          ["themes", "./src/themes"],
          ["assets", "./src/assets"],
          ["constants", "./src/constants"],
          ["utils", "./src/utils"]
        ],
        "extensions": [".ts", ".js", ".jsx", ".json"]
      }
    }
  }
}
