{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "max-len": ["error", { "code": 100 }],
    "prefer-promise-reject-errors": ["off"],
    "react/jsx-filename-extension": ["off"],
    "react/prop-types": ["warn"],
    "no-return-assign": ["off"]
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["components", "./src/components"],
          ["layouts", "./src/layouts"],
          ["navigation", "./src/navigation"],
          ["services", "./src/services"],
          ["screens", "./src/screens"],
          ["themes", "./src/themes"],
          ["assets", "./src/assets"],
        ],
        "extensions": [".ts", ".js", ".jsx", ".json"]
      }
    }
  }
}
